@import "../../global.scss";

.contact {
  @include themify($themes) {
    height: 100vh;
    scroll-snap-align: center;

    .contanier {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 50px;
      height: 100%;

      .left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        form {
          display: flex;
          flex-direction: column;
          width: 500px;
          gap: 25px;
          h1 {
            color: themed('textColor');
            font-weight: lighter;
          }

          input {
            background-color: lightgray;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 20px;
          }

          textarea {
            background-color: lightgray;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 20px;
          }

          button {
            padding: 20px;
            border: none;
            border-radius: 5px;
            outline: none;
            background-color:#3b306c;
            color: white;
            font-weight: bold;
            font-size: 15px;
            cursor: pointer;
          }
        }
      }
      .right {
        flex: 1;
      }
    }
  }
}
