@import "../../global.scss";

.testimonial {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: themed("textColor");

    h1 {
      font-size: 50px;
      color: themed("textColor");
    }

    .contanier {
      width: 100%;
      height: 80%;
      display: flex;
      gap: 20px;
      margin-left: 30px;
      flex-wrap: wrap;

      .card {
        width: 300px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px themed("textColor");
        display: flex;
        justify-content: space-between;
        padding: 10px;
        transition: all 1s ease;
        background-color: themed("bg");

        &:hover {
          transform: scale(1.1);
        }

        .left {
          display: flex;
          align-items: center;
        }

        .right {
          display: flex;
          align-items: center;

          img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}
